# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Cache
cache/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# SQLite
*.db

# OS files
.DS_Store
Thumbs.db

credentials/
credentials.json
metadata.json
token.json
client_secret.json
